services:
  backend:
    build: ./backend
    ports:
      - "8002:8002"
    volumes:
      - ./backend:/app
    env_file:
      - path: .env
        required: false

  frontend:
    build: ./frontend
    ports:
      - "5175:5175"
    volumes:
      - ./frontend:/app
      - /app/node_modules
